<form class="login-form">
    <div>
        <input type="text" id="email-login" placeholder="Email">
    </div>
    <div>
        <input type="password" id="password-login" placeholder="Password">
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<p>Don't have an account?  <a href="/signup">Sign up here!</a></p>

<script src="/javascript/login.js"></script>